* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}

main {

    height: auto;
    padding: 2em 2em;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

