nav {
    position: sticky;
    top: 0;
    z-index: 1;
    padding: 1em 2em;
    background: rgb(7, 5, 102);
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav h1 {
    color: white;
  }
  
  nav ul {
    display: flex;
    flex-flow: row wrap;
  }
  
  nav li a {
    font-size: 1 em;
    padding: .7em 1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: .7em;
  }
  
  nav li a:hover {
    background: white;
    color: black;
  }
  
  .active {
    background: white;
    color: black;
  }